* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Yantramanav, sans-serif;
}

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding: auto 20px;
    z-index: 10;
    border: 1px solid white;
}

header #land {
    display: none;
}

.scrolled {
    border: none;
    position: sticky;
    top: 0%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.scrolled .nav-links a {
    color: black;
}

.scrolled #landing {
    display: none;
}

.scrolled #land {
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.navs-divs {
    padding: 20px;
}

header img {
    height: 40px;
}

#image-border {
    border-right: 1px solid white;
}

.nav-links {
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 10px;
    font-weight: 500;
}

#iconic {
    display: flex;
    background-color: rgb(16, 76, 186);

    color: white;
}

.icon-sec {
    margin: auto 5px;
}


#owl-carousel {
    width: 100%;
    color: white;
}

.slider-one {
    background-image: url(/images//12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.582);
    height: 100vh;
    width: 100%;
}

.slider-two {
    background-image: url(/images/15-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
    height: 100vh;

}

.slider-three {
    background-image: url(/images/3-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(16, 75, 186, 0.658);
    height: 100vh;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 4%;
}
.owl-dots span {
    width: 10px !important;
    height: 10px !important;
}
.owl-nav button {
    border: none !important;
    outline: none !important;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white !important;
    font-size: 70px !important;
    font-weight: bolder !important;
    background: none !important;
}
.owl-prev {
    top: 90%;
    left: 1%;
}
.owl-next {
    top: 90%;
    right: 1%;
}



.content {
    border: none;
    position: relative;
    top: 35%;
    left: 15%;
    max-width: fit-content;
    /* background-image: radial-gradient(ellipse, rgb(16, 76, 186),transparent); */
}

.content h1 {
    font-size: 80px;
}

.small-p {
    font-size: 40px;
    font-weight: 100;
}

.bold-p {
    font-size: 18px;
    font-weight: 500;
}

.content a {
    font-size: 15px;
    background-color: rgb(16, 76, 186);
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 40px;
}

.content a:hover {
    background-color: rgba(101, 101, 112, 0.425);
}

.wrapper-one {
    padding-top: 100px;
    background-color: whitesmoke;
}

.choose-text {
    text-align: center;
    padding-bottom: 70px;
}

.choose-text p {
    font-size: 20px;
    color: transparent;
    background: url(/images/shape_line.png) center/cover;
    -webkit-background-clip: text;
    background-clip: text;
}

.choose-text h4 {
    font-size: 30px;
    font-family: Yantramanav, sans-serif;
}

.choose-text h5 {
    font-size: 30px;
    font-family: Yantramanav, sans-serif;
}

.choose-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#chos {
    display: none;
}

.choose-us {
    background-image: url(/images/1-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
    display: grid;
    justify-content: center;
    color: white;
}
.comtent-choose-us {
    width: 300px;
    position: relative;
    top: 80px;
    text-align: center;
}
.comtent-choose-us  i {
    font-size: 2rem;
    background-color: blue;
    border-radius: 100px;
    padding: 20px;
 }
 .choose-us a {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
 }
 .choose-us p {
    padding-top: 30px;
 }
 .box-inbetwn {
    position: relative;
    top: 70px;
    width: 320px;
    left: 40px;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid grey;
    display: flex;
    color: black;
    justify-content: space-around;
    align-content: space-around;
    padding: 5px;
    border-radius: 8px;
 }
 #chose-texter {
    margin-top: 5px;
    font-weight: 900;
 }
 .box-inbetwn i {
    font-size: 2rem;
 }

#chose-one {
    background-image: url(/images/2-1.jpg);
    background-blend-mode: normal;
    transition: all;
    transition-duration: 10s;
    transition-delay: 10ms;

}
#hiden-chose-us {
    visibility: hidden;
}

#chose-one:hover  {
    background-blend-mode: multiply;
}
#chose-one:hover #hiden-chose-us {
    visibility: visible;
}
#chose-one:hover .box-inbetwn {
    visibility: hidden;
}

#chose-two {
    background-image: url(/images/3-3.jpg);
    background-blend-mode: normal;
}

#chose-two:hover  {
    background-blend-mode: multiply;
}
#chose-two:hover #hiden-chose-us {
    visibility: visible;
}
#chose-two:hover .box-inbetwn {
    visibility: hidden;
}

.countdown-div {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#circle-image {
    background-image: url(/images/circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: fit-content;
}

#circle-image img {
    height: 600px;
    position: relative;
    left: 70px;
    top: 5px;
}

.circle-divs {
    /* background-color: red; */
    /* max-width: fit-content; */
    margin: auto;
}

.circle-divs i {
    color: blue;
    background-color: white;
    padding: 2px;
    font-size: 20px;
    border: 1px solid aliceblue;
}

#circle-text {
    /* background-color: red; */
    /* width: 400px; */
    max-width: 600px;
}

#circle-text h1 {
    font-size: 32px;
}

#circle-text h2 {
    font-size: 32px;
}

.p-tezt {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    color: gray;
}

.it-cust p {
    font-weight: 500;
    padding-left: 10px;
    font-family: Yantramanav, sans-serif;
}

.it-cust {
    display: inline-block;
}

.video-box {
    position: relative;
    top: 100px;
    right: 80px;
    display: flex;
    width: 600px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}
.video-box i {
    position: relative;
    top: 70px;
}
.video-box h1 {
    font-size: 4rem;
    position: relative;
    top: 70px;

}
.video-box p {
    position: relative;
    top: 80px;
}

.box-video {
    /* border: 1px solid black; */
    /* background-color: red; */
    text-align: center;
    width: 500px;
    height: 200px;
    /* border-radius: 10px; */

}

#yotube-video {
    background-image: url(/images/39.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;



}

.wrapper-two {
    background-color: rgb(9, 29, 62);
    background-image: url(/images/29.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;

}

.service-box {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}

.service-div {
    margin: auto 100px;
    /* background-color: red; */
    max-width: 500px;
}
.service-sliders i {
    font-size: 5rem;
}

.service-div h2 {
    font-size: 30px;
}

#everything {
    font-size: 16px;
}

#little-sliders {
    width: 80%;
    align-content: center;
    justify-content: center;
    display: flex;
}

#mobile-view {
    display: none;
}

.sizer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.slide {
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: green; */
}

.service-sliders {
    width: 300px;
    height: 200px;
    background-color:#041737;
    margin: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.view-sliders {
    background-color:#041737;
    margin: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.view-sliders i {
    font-size: 5rem;
}

.wrapper-three {
    background-blend-mode: multiply;
    background-color: rgba(255, 255, 255, 0.863);
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
}

.text-container {
    position: relative;
}

.text-tech {
    background-color: white;
    max-width: 700px;
    position: relative;
    left: 700px;
    padding: 50px;
}

.text-tech h3 {
    font-size: 28px;
}

.text-tech p {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-tech a {
    font-size: 15px;
    background-color: rgb(16, 76, 186);
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
}

.clip-text {
    position: relative;
    top: 30px;
    z-index: 2;
    font-size: 10rem;
    text-align: center;
    color: transparent;
    background: url(/images/38.jpg) center/cover;
    -webkit-background-clip: text;
    background-clip: text;
}

.wrapper-four {
    background-color: #e6ecf8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 100px;
}

.plan {
    width: 400px;
    height: 400px;
    /* background-color: red; */
    margin: 10px;
    padding: 40px;
    border-radius: 10px;
}

#regular {
    height: 480px;
    background-color: #e6ecf8;
    -webkit-box-shadow: -1px 0px 3px 1px #b1d3fc;
    box-shadow: -1px 0px 3px 1px #b1d3fc;
}

#Premium {
    height: 500px;
    background-color: white;
    -webkit-box-shadow: -1px 0px 3px 1px #b1d3fc;
    box-shadow: -1px 0px 3px 1px #b1d3fc;
}

.btn-links {
    display: flex;
    width: 180px;
    padding: 10px;

}

.span-linkers {
    background-color: white;
    margin: 2px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#month {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: rgb(16, 76, 186);
}

.plan h2 {
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 20px;
}

.plan a {
    font-size: 15px;
    background-color: #091d3e;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
}

.cheron-div {
    padding-top: 30px;
}

.cheron-div i {
    padding-bottom: 15px;
}

.plan p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.plan h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

.span-increaser {
    font-size: 50px;
    font-weight: 700;
}

sup {
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

sub {
    font-weight: 500;
}

.wrapper-five {
    background-image: url(/images/33.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.team-slide {
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: yellow; */
}

#quote-slides {
    /* background-color: red; */
    width: 70%;
    position: relative;
    left: 15%;
}

#text-des {
    position: relative;
    bottom: 20px;
    left: 10px;
}

#text-des h3 {
    color: blue;
    font-size: 15px;
}

.team p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote {
    height: 20px;
    position: relative;
    left: 10px;
    bottom: 80px;
}

.dev-pic {
    height: 80px;
    border-radius: 100px;
}

.team {
    color: whitesmoke;
    border-radius: 20px;
    padding: 50px;
    margin: 15px;
    max-width: 600px;
    background-color: #0e2245;
}

.dev-team {
    display: inline-block;
}

#little-quote-slides {
    display: none;
}

.wrapper-six {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* height: 100vh; */
    background-color: #e6ecf8;
}

.boy-girl {
    height: 450px;
    border-radius: 20px;
}

.cola-box {
    
    max-width: 580px;
    /* height:500px; */
    margin: 10px;
}

.cola-box h2 {
    font-size: 2rem;
}

.collapsible-group {
    background-color: #e6ecf8;
}

.collapsible {
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    /* outline: none; */
    font-size: 20px;
    font-weight: 900px;
    background-color: #e6ecf8;
}

.chev {
    height: 30px;
}

.collapsible.active {
    color: blue;
}

.content-collasible {
    color: gray;
    display: none;
    padding: 0 18px;
    overflow: hidden;
}

.wrapper-seven {
    padding: 20px;
    background-image: url(/images/34.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.experts-content img {
    margin-left: 150px;
}

.experts-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.experts {
    margin: 10px;
    width: 300px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#one {
    background-image: url(/images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#two{
    background-image: url(/images/5-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#three{
    background-image: url(/images/3-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#four{
    background-image: url(/images/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.experts-content {
    display: grid;
    justify-content: center;
    text-align: center;
}

.wrapper-eight {
    background-image: url(/images/5-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

#engaged {
    background-image: url(/images/41.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    color: white;
}
#soig {
    display: flex;
    position: relative;
    left: 70px;
}
.enaged-div {
    /* background-color: red; */
    width: 700px;
    height: 500px;
    /* margin: 5px auto; */
}
.wrapper-eight  a {
    font-size: 15px;
    background-color: rgb(16, 76, 186);
    text-decoration: none;
    padding: 50px;
    border-radius: 5px;
    color: white;
}
.text-icons {
    /* background-color: peru; */
    position: relative;
    top: 120px;
    left: 150px;
    opacity: 1;
}
.icon-holder {
    position: relative;
    left: 160px;
    top: 120px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(16, 76, 186);
    text-align: center;
    padding-top: 20px;
    color: white;
}
#icon-shift {
    padding-top: 20px;
    background-color: white;
    position: relative;
    left: 200px;
    color: black;
}
.icon-holder i {
    font-size: 80px;
}
.wrapper-nine {
    padding: 100px;
}
.aticle-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.airtle-box {
    width: 400px;
    margin: 10px;
}
.airtle-box a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}
.airtle-box p {
    padding-top: 20px;
    padding-bottom: 10px;
}

.airtle-box img {
    height: 300px;
}

footer {
    /* background-color: rgb(9, 29, 62); */
    background-color: #091d3e;
}
/* #radial-footer {
    background-color: #0f44a4;
} */
#Subscribe {
    background-color: #0f44a4;
    color: white;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer;
}
.footer-div span {
    position: relative;
    left: 40px;
}
#e-mail {
    background-color: #0e2245;
    padding-left: 10px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}
.footer-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
footer  img {
    height: 70px;
}
footer ul li {
    list-style-type: none;
    margin: 10px; 
    color: rgb(199, 191, 191);
}
footer a {
    color: rgb(199, 191, 191);
    text-decoration: none;
}
footer p {
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-div {
    width: 350px;
    height: 300px;
    /* background-color: red; */
    margin:  10px;
}
footer p {
    color: rgb(199, 191, 191);
}
footer input {
    padding:10px;
    padding-right: 40px;
}
#seprate {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
#hj {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #0c244a;
    border-left: #0f44a4 solid 3px;
}
.copy-div {
    color: rgb(226, 217, 217);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}













.phone {
    background-color: white;
    display: none;
}

.yaho {
    margin: 10px;
    /* background-color: red; */
}

.yaho img {
    height: 60px;
}

#logo-shift {
    position: relative;
    left: 15%;
}

.ham {
    display: none;
    padding: 2px;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    width: 35px;
    height: 2px;
    margin: 5px auto;
    background-color: black;
    transition: 0.4s;
    position: relative;
    top: 0px;
}

.phone a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.closebtn {
    color: black;
    font-size: 40px;
    cursor: pointer;
    position: relative;
    left: 50px;

}

















@media only screen and (max-width: 1440px) {
    .text-tech {
        background-color: white;
        max-width: 500px;
        position: relative;
        left: 800px;
        padding: 50px;
    }
}



@media only screen and (max-width: 1321px) {
    .text-tech {
        background-color: white;
        max-width: 500px;
        position: relative;
        left: 200px;
        padding: 50px;
    }
}





@media only screen and (max-width: 1200px) {}





@media only screen and (max-width: 1024px) {
    #iconic {
        display: none;
    }

    #chos {
        display: block;
        background-color: white;
        background-image: none;
    }

    .text-tech {
        background-color: white;
        max-width: 500px;
        position: relative;
        left: 400px;
        padding: 50px;
    }
    .clip-text {
        position: relative;
        top: 10px;
        z-index: 2;
        font-size: 9rem;
        text-align: center;
        color: transparent;
        background: url(/images/38.jpg) center/cover;
        -webkit-background-clip: text;
        background-clip: text;
    }
    .wrapper-nine {
        padding: 5px;
    }
    .aticle-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    .airtle-box {
        width: 300px;
        margin: 2px;
    }
    .airtle-box img {
        height: 220px;
    }
    .footer-div {
        width: 350px;
        height: 300px;
        margin:  10px;
    }

}





@media only screen and (max-width: 768px) {

    .phone {
        display: flex;
        position: fixed;
        width: 100%;
    }

    #hide-nav {
        visibility: hidden;
    }

    .ham {
        display: block;
        padding: 2px;
        cursor: pointer;
    }





    nav {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 10px;
        padding-left: 50px;
        display: none;
    }


    #mobile-nav {
        z-index: 2;
        display: none;
        height: 100vh;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 0%;
        color: white;
        left: 0%;
        width: 70%;
        padding: 10px;
    }

    .slider-one {
        background-image: url(/images//12.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(30, 30, 233, 0.425);
        height: 500px;
        width: 100%;
    }

    .slider-two {
        background-image: url(/images/15-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(30, 30, 233, 0.425);
        height: 500px;

    }

    .slider-three {
        background-image: url(/images/3-3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(30, 30, 233, 0.425);
        height: 500px;
    }

    .content {
        border: none;
        position: relative;
        top: 35%;
        left: 10%;
        max-width: fit-content;
        /* background-image: radial-gradient(ellipse, rgb(16, 76, 186),transparent); */
    }

    .content h1 {
        font-size: 40px;
    }

    .small-p {
        font-size: 30px;
        font-weight: 100;
    }

    .bold-p {
        font-size: 12px;
        font-weight: 500;
    }

    #circle-image img {
        display: none;
        height: 300px;
        position: relative;
        left: 70px;
    }

    #chos {
        display: none;
        background-color: white;
        background-image: none;
    }

    #circle-text {
        /* width: 400px; */
        max-width: 400px;
        /* background-color: red; */
    }
    .box-video {
        /* border: 1px solid black; */
        /* background-color: red; */
        text-align: center;
        width: 500px;
        height: 150px;
        /* border-radius: 10px; */
    
    }

    .video-box {
        position: relative;
        top: 0px;
        left: 15px;
        height: 200px;
        display: flex;
        width: 300px;
        border: 1px solid black;
        /* border-radius: 10px; */
    }
    .video-box i {
        position: relative;
        top: 20px;
    }
    .video-box h1 {
        font-size: 4rem;
        position: relative;
        top: 40px;
    
    }
    .video-box p {
        position: relative;
        top: 40px;
    }
    .service-box {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        color: white;
    }
    .service-div {
        margin: 10px;
        max-width: 500px;
    }

    #little-sliders {
        display: none;
    }

    #mobile-view {
        display: block;
    }

    .view-box {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .view-sliders {
        display: grid;
        justify-content: center;
        width: 400px;
        color: white;
        height: 200px;
        background-color:#104cba;
    }


    .wrapper-three {
        background-blend-mode: multiply;
        background-color: rgba(255, 255, 255, 0.863);
        background-image: url(/images/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10px;
    }

    .clip-text {
        display: none;
        position: relative;
        top: 30px;
        z-index: 2;
        font-size: 10rem;
        text-align: center;
        color: transparent;
        background: url(/images/38.jpg) center/cover;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .text-tech {
        background-color: white;
        max-width: 800px;
        position: relative;
        left: 0px;
        padding: 50px;
    }

    #quote-slides {
        display: none;
    }

    #little-quote-slides {
        display: block;
    }
    .boy-girl {
        height: 300px;
    }
    .copy-div {
        color: rgb(226, 217, 217);
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .airtle-box {
        width: 400px;
        margin: 10px;
    }
    .airtle-box a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 700;
        padding-top: 10px;
    }
    .airtle-box p {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .airtle-box img {
        height: 200px;
    }
    .wrapper-eight {
        background-image: url(/images/5-5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
    padding-bottom: 30px;
    }
    .wrapper-eight  a {
        font-size: 15px;
        background-color: rgb(16, 76, 186);
        text-decoration: none;
        padding: 50px;
        border-radius: 5px;
        color: white;
    }
    #engaged {
        /* background-image: url(/images/41.png); */
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.9;
        color: white;
        text-align: justify;
    }
    #soig {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        position: relative;
        left: 0px;
        bottom: 50px;
    }
    .enaged-div {
        /* background-color: red; */
        width: 300px;
        height: 350px;
        /* margin: 5px auto; */
    }
    .text-icons {
        /* background-color: peru; */
        position: relative;
        top: 100px;
        left: 80px;
        opacity: 1;
        color: white;
        z-index: -1;
    }
    .icon-holder {
        position: relative;
        left: 80px;
        top: 10px;
        height: 200px;
        width: 200px;
        cursor: pointer;
        border-radius: 20px;
        background-color: rgb(16, 76, 186);
        text-align: center;
        padding-top: 20px;
        color: white;
    }
    #icon-shift {
        padding-top: 20px;
        background-color: white;
        position: relative;
        left: 80px;
        top: 20px;
        color: black;
    }
    .icon-holder i {
        font-size: 80px;
    }
    #circle-text {
        /* width: 400px; */
        width: 350px;
        font-size: 1rem;
        /* text-align: justify; */
    }
    .it-cust {
        display: inline-block;
        text-align: justify;
    }
    .circle-divs {
        /* background-color: red; */
        /* max-width: fit-content; */
        margin: 0px;
    }
    #circle-text h1 {
        font-size: 25px;
    }
    
    #circle-text h2 {
        font-size: 25px;
    }
    
    .p-tezt {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 15px;
        color: gray;
    }
    




}






@media only screen and (max-width: 480px) {
    .yaho img {
        height: 30px;
    }

    #logo-shift {
        position: relative;
        left: 10%;
    }

    #mobile-nav {
        z-index: 2;
        display: none;
        height: 100vh;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 0%;
        color: white;
        left: 0%;
        width: 70%;
        padding: 50px;
    }

    .content {
        border: none;
        position: relative;
        top: 35%;
        left: 3%;
        max-width: fit-content;
        /* background-image: radial-gradient(ellipse, rgb(16, 76, 186),transparent); */
    }

    .content h1 {
        font-size: 30px;
    }
    .choose-us {
        background-image: url(/images/1-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 350px;
        margin: 15px;
        border-radius: 5px;
        background-blend-mode: multiply;
        background-color: rgba(9, 29, 62, 0.63);
        display: grid;
        justify-content: center;
        color: white;
    }
    .box-inbetwn {
        position: relative;
        top: 70px;
        width: 300px;
        left: 25px;
        height: 50px;
        background-color: white;
        border-bottom: 1px solid grey;
        display: flex;
        color: black;
        justify-content: space-around;
        align-content: space-around;
        padding: 5px;
        border-radius: 8px;
     }
     .wrapper-four {
        background-color: #e6ecf8;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 1px;
    }
    
    .plan {
        width: 400px;
        height: 400px;
        margin: 10px;
        padding: 40px;
        border-radius: 10px;
    }
    #regular {
        height: 480px;
        background-color: #e6ecf8;
        -webkit-box-shadow: -1px 0px 3px 1px #b1d3fc;
        box-shadow: -1px 0px 3px 1px #b1d3fc;
    }
    
    #Premium {
        height: 500px;
        background-color: white;
        -webkit-box-shadow: -1px 0px 3px 1px #b1d3fc;
        box-shadow: -1px 0px 3px 1px #b1d3fc;
    }

    .small-p {
        font-size: 20px;
        font-weight: 100;
    }

    .bold-p {
        font-size: 10px;
        font-weight: 500;
    }
    .boy-girl {
        height: 200px;
    }
    .wrapper-eight {
        background-image: url(/images/5-5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
    }
    .wrapper-eight  a {
        font-size: 15px;
        background-color: rgb(16, 76, 186);
        text-decoration: none;
        padding: 50px;
        border-radius: 5px;
        color: white;
    }
    #engaged {
        /* background-image: url(/images/41.png); */
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.9;
        color: white;
        text-align: justify;
    }
    #soig {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        position: relative;
        left: 0px;
        bottom: 50px;
    }
    .enaged-div {
        /* background-color: red; */
        width: 300px;
        height: 350px;
        /* margin: 5px auto; */
    }
    .text-icons {
        /* background-color: peru; */
        position: relative;
        top: 100px;
        left: 10px;
        opacity: 1;
        color: white;
        z-index: -1;
    }
    .icon-holder {
        position: relative;
        left: 10px;
        top: 10px;
        height: 200px;
        width: 200px;
        cursor: pointer;
        border-radius: 20px;
        background-color: rgb(16, 76, 186);
        text-align: center;
        padding-top: 20px;
        color: white;
    }
    #icon-shift {
        padding-top: 20px;
        background-color: white;
        position: relative;
        left: 10px;
        top: 20px;
        color: black;
    }
    .icon-holder i {
        font-size: 80px;
    }
    .wrapper-nine {
        padding: 10px;
    }
    .aticle-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    .airtle-box {
        /* background-color: red; */
        width: 350px;
        margin: 5px;
    }
    .airtle-box a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 700;
        padding-top: 10px;
    }
    .airtle-box p {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .airtle-box img {
        height: 260px;
    }
    .footer-div {
        width: 350px;
        height: 200px;
        /* background-color: red; */
        margin:  10px;
    }
    .copy-div {
        color: rgb(226, 217, 217);
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    
    
}